@{
    ViewBag.Title = "LogOn";
}

<form method="post" action=".">
    Email:
    <br /><input type="text" /><br />
    Password:<br /><input type="password" /><br />
    <input type="submit" />
</form>

@Html.ActionLink("Register", "Register")
