@{
    ViewBag.Title = "LogOn";
}

<form method="post" action=".">
    <label for="email">Email:</label>
    <input type="text" id="email" />
    <label for="password">Password:</label>
    <input type="password" id="password"/>
    <input type="submit" />
</form>

@Html.ActionLink("Register", "Register")
