@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form method="post" action=".">
    <label for="email">Email:</label>
    <input type="text" id="email"/>
    
    <label for="url">Url:</label>
    <input type="text" id="url" />
    
    <label for="password">Password:</label>
    <input type="password" />
    
    <input type="submit" />
</form>

