@{
    ViewBag.Title = "Home Page";
}

<h2>BUILD 2011 - browse @ViewBag.NumSessions sessions</h2>

<ul data-role="listview" data-inset="true" data-dividertheme="e">
    <li data-role="list-divider">Browse by...</li>
    <li>@Html.ActionLink("Date", "AllDates")</li>
    <li>@Html.ActionLink("Speaker", "AllSpeakers")</li>
    <li>@Html.ActionLink("Tag", "AllTags")</li>
</ul>
